@import url("../../mainStyle.css");

* {
  color: var(--buttonLight);
}
table {
  background-color: var(--buttonDark);
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
th {
  padding: 10px;
  border: solid 1px var(--buttonLight);
}
td {
  padding: 10px;
  border: solid 1px var(--buttonLight);
}
img {
  width: 100px;
}
button {
  width: fit-content;
}
