@import url("../../mainStyle.css");
.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}
.item {
  padding: 10px;
  border: solid 1px #000;
  margin: 10px;
  background-color: var(--dark);
  color: var(--buttonAccent);
  border-radius: 10px;
}
img {
  width: 200px;
  border-radius: 10px;
}
.addToCart {
  background-color: var(--accent);
  color: var(--buttonAccent);
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--accent);
  border: solid 5px var(--dark);
  transition: 0.15s;
}
.addToCart:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
.addToCart:active {
  filter: brightness(0.8);
  box-shadow: none;
}
#colorPanel {
  display: none;
  position: absolute;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 182px;
  background-color: var(--buttonLight);
  border: solid 1px var(--accent);
  border-radius: 15px;
  box-shadow: 0 0 10px var(--accent);
}
.colorImg {
  width: 20px;
  border-radius: 10px;
  margin: 5px;
}

.addedToCartPanel {
  display: none;
  position: absolute;
  text-align: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  margin: 0 auto;
  width: 300px;
  background-color: var(--buttonLight);
  border: solid 1px var(--accent);
  border-radius: 15px;
  box-shadow: 0 0 10px var(--accent);
}
.buttonItemAdded {
  background-color: var(--accent);
  color: var(--buttonAccent);
  width: 100px;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--accent);
  border: solid 5px var(--dark);
  transition: 0.15s;
}
.buttonItemAdded:hover {
  filter: brightness(1.2);
}
.buttonItemAdded:active {
  filter: brightness(0.8);
  box-shadow: none;
}
