@import url("../../mainStyle.css");
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index: 100;
}
button {
  width: 200px;
}
.user {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20%;
  margin-right: 10%;
}
.time {
  color: var(--accent);
  padding: 5px;
  border-radius: 5px;
  margin-left: 6rem;
}
.cartContainer {
  position: relative;
}
.cartContainer:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.cart {
  width: 40px;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -15px;
  background-color: var(--buttonAccent);
  color: var(--buttonDark);
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.8rem;
  z-index: 100;
}
